POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me-strong-password

JWT_SECRET=change-me-jwt-secret
ADMIN_SECRET=change-me-admin-secret
INTERNAL_SERVICE_TOKEN=chuoi_bi_mat_123

USER_DB_NAME=shoe_user_db
ORDER_DB_NAME=shoe_order_db

USER_SERVICE_PORT=3001
PRODUCT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003