POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here

JWT_SECRET=your_jwt_secret_here
ADMIN_SECRET=your_admin_secret_here
INTERNAL_SERVICE_TOKEN=your_internal_service_token_here
METRICS_TOKEN=your_metrics_token_here

USER_DB_NAME=your_user_db_name_here
ORDER_DB_NAME=your_order_db_name_here
PAYMENT_DB_NAME=your_payment_db_name_here

USER_SERVICE_PORT=your_user_service_port_here
PRODUCT_SERVICE_PORT=your_product_service_port_here
ORDER_SERVICE_PORT=your_order_service_port_here
PAYMENT_SERVICE_PORT=your_payment_service_port_here

LOG_LEVEL=your_log_level_here
ALLOWED_ORIGINS=your_allowed_origins_here

VNPAY_TMN_CODE=your_vnpay_tmn_code_here
VNPAY_HASH_SECRET=your_vnpay_hash_secret_here
VNPAY_URL=your_vnpay_url_here
VNPAY_RETURN_URL=your_vnpay_return_url_here

GRAFANA_ADMIN_USER=your_grafana_admin_user_here
GRAFANA_ADMIN_PASSWORD=your_grafana_admin_password_here

PROMTAIL_DOCKER_SOCK_PATH=your_promtail_docker_sock_path_here
PROMTAIL_DOCKER_CONTAINERS_PATH=your_promtail_docker_containers_path_here