PORT=3002
MONGO_URI=mongodb://mongo-db:27017/shoe_product_db
REDIS_URL=redis://redis-cache:6379
ADMIN_SECRET=change-me-admin-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
