PORT=3003
DB_USER=admin
DB_PASSWORD=change-me-strong-password
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=shoe_order_db
JWT_SECRET=change-me-jwt-secret
RABBITMQ_URL=amqp://rabbitmq:5672
ADMIN_SECRET=change-me-admin-secret
